.middle{
    position : relative;
    top : 12%;
    transform: translateY(-50%);
    width : 100%;
    text-align: center;
  }
  .social-btn{
    display : inline-block;
    width: 45px;
    height: 45px;
    background-color: #f1f1f1;
    margin: 10px;
    border-radius : 30%;
    box-shadow : 0 5px 15px -5px #00000070;
    color:  #6a8caf;
    overflow:  hidden;
    position : relative;
    }
  
  .social-btn i {
    line-height : 45px;
    font-size : 26px;
    transition : 0.2s linear;  
  }
  
  .social-btn:hover i{
    transform : scale(1.3);
    color :  #f1f1f1;
  }
  .social-btn::before{
    content:"";
    position : absolute;
    width: 120%;
    height: 120%;
    background-color: rgba(255, 77, 77,0.9);
    transform : rotate(45deg);
    left :-110%;
    top: 90%;
  }
  .social-btn:hover::before{
    animation : aaa 0.7s 1;
    top : -10%;
    left : -10%;
  }
  @media screen and (max-width : 600px){
    .middle{
      
      position : relative;
      bottom : 10%;
    }
  }
  
  @keyframes aaa{
    0%{
      left: -110%;
      top : 90%;
    }50%{
      left : 10%;
      top: -30%;
    }100%{
      top : -10%;
      left : -10%;
    }
  }